# remove the python cache files
utlities/__pycache__/

# remove the database files
*.db

# remove the virtual environment files
venv/

# exclude the following folders to be tracked
media

trainer.yml
face_data